<% #encoding: utf-8 %>

<%= form_for(@social_insurance) do |f| %>
    <% if @social_insurance.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@social_insurance.errors.count, "error") %> Konnte leider nicht gespeichert werden</h2>

          <ul>
            <% @social_insurance.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div style="background-color: #d3d3d3;">
    <%= @social_insurance.label %>
    <%= f.text_field :percentage, :size => 3 %>
    <%= f.submit "Ändern" %>
    </div>
<% end %>